@import "tailwindcss";

/* hide scrollbar globally but keep scroll working */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* jangan scroll karena akan memunculkan scrollbar */
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* CLASS untuk hourly scroll (horizontal only) */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}